
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 form-group">
              
                <div class = "input-group" style="margin-left:50px; margin-right: 50px;">
                       <input type = "text" class = "form-control"
                        ng-model="username" placeholder="Enter username here...">
                       
               <span class = "input-group-btn">
                  <button class = "btn btn-default" type = "button" ng-click="searchUser()">
                     Go!
                  </button>
               </span>
               
            </div>
        
        </div>

            </div>
          </div>
          <div class="row user-container" ng-repeat="user in users">
            <div class="col-md-4 text-center">
              <a href="#!user/{{user.login}}" target="_blank">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src={{user.avatar_url}}>
            </a>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" >
                  <a href="#!user/{{user.login}}" target="_blank">
                    <h1 class="only-bottom-margin">{{user.login}}</h1>
                  </a>
                  <span class="text-muted"><strong>Score:</strong> </span>
                  <span style="font-size: 20px;">{{user.score | number :1}} </span> <br><br>
                </div>
                <div class="col-md-6">
                  
                </div>
              </div>
              
            </div>
            <div class="row ">
              <div class="col-md-12 gapping">
                </div>
            </div>

          </div>

          
        </div>
      </div>
    </div>
  </div>

