
<style type="text/css">
	/* CSS used here will be applied after bootstrap.css */
	body {
	  background-color: #eaeaea;
	}

	img.avatar {
	  border: 1px solid #eee;
	  width: 200px;
	  height: 200px;
	}

	.only-bottom-margin {
	  margin-top: 0px;
	}

	.activity-mini {
	  padding-right: 15px;
	  float: left;
	}

	/* style for repository list*/
	.panel-order {
	}
	.panel-order .row {
		border-bottom: 1px solid #ccc;
	}
	.panel-order .row:last-child {
		border: 0px;
	}
	.panel-order .row .col-md-1  {
		text-align: center;
		padding-top: 15px;
	}
	.panel-order .row .col-md-1 img {
		width: 50px;
		max-height: 50px;
	}
	.panel-order .row .row {
		border-bottom: 0;
	}
	.panel-order .row .col-md-11 {
		border-left: 1px solid #ccc;
	}
	.panel-order .row .row .col-md-12 {
		padding-top: 7px;
		padding-bottom: 7px; 
	}
	.panel-order .row .row .col-md-12:last-child {
		font-size: 11px; 
		color: #555;  
		background: #efefef;
	}
	.panel-order .btn-group {
		margin: 0px;
		padding: 0px;
	}
	.panel-order .panel-body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.panel-order .panel-deading {
		margin-bottom: 0;
	}

</style>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Github Profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src={{userDetails.avatar_url}}>
              <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>

              <span ng-if="userDetails.hireable">
                		<h3><strong>Available to hire!</strong>  </h3>
                </span>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="only-bottom-margin" ng-if="userDetails.name">{{userDetails.name}}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                	<p style="font-size: 25px; ">
                		{{userDetails.login}}
                	</p>	
                  <span ng-if="userDetails.bio">
                  	{{userDetails.bio}}
                  </span><br>
                  
                  <span class="text-muted" ng-if="userDetails.blog"><i class="fa fa-comments" style="font-size:20px;color:#5f6977"></i>
                  	<a href={{userDetails.blog}} target="_blank">blog</a> 
                   </span>
                   <br> 

                  <span class="text-muted" ng-if="userDetails.company"><i class="fa fa-group" style="font-size:20px;color:#5f6977"></i> 
                  {{userDetails.company}} </span> 
                  <br>
                  
                  <span class="text-muted" ng-if="userDetails.location">
                  	<i class="material-icons" style="color:#5f6977">location_on</i>
                  {{userDetails.location}} </span> <br>

                  <span class="text-muted" ng-if="userDetails.email"><i class="fa fa-envelope" style="font-size:20px;color:#5f6977"></i> 
                  {{userDetails.email}} </span> 
                  <br>
                </div>

                <div class="col-md-4">
                	<div class="row">
                		
                		<div class="col-sm-6">
                			<span class="label label-default"> {{userDetails.followers}} followers</span>
                		<span class="label label-primary"> {{userDetails.following}} following</span>
                		</div>
                		<div class="col-sm-6">
                			<span class="label label-success"> {{userDetails.public_repos}} Public Repos</span>
                  		<span class="label label-info"> {{userDetails.public_gists}} Public Gists</span>
                		</div>
                		
                	</div>
                		<br><br>
                			<a href={{userDetails.html_url}} target="_blank">
	                     		<button class="btn btn-info btn-block" 
	                     		  >
	                     		<span class="fa fa-user"></span> View Profile on Github
                     	    	</button>
                     	    </a> 
                    <div style="margin-top:100px;">
                    	<small class="text-muted"><strong>Created on</strong>  {{created_at}}</small>
                    </div> 
                  	
                </div>
              </div>
            </div>
          </div>
          <!-- list of repositories-->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default panel-order">
			  <div class="panel-heading">
			  <span style="font-size: 18px;" ><strong>Repositories</strong></span> 
				  <div class="btn-group pull-right">
					  <div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						  Repos Order <i class="fa fa-filter"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
						  <li><a href="">Ascending order</a></li>
						  <li><a href="">Descending order</a></li>
						</ul>
					  </div>
					</div>
			  </div>
			  <div class="panel-body" ng-repeat="repo in userRepos">
			  			<div class="row">
						  <div class="col-md-1"> 
						  </div>
						  <div class="col-md-11">
							<div class="row">
							  <div class="col-md-12">
							  	<a href={{repo.html_url}} target="_blank">
							  		<strong>{{repo.name}}</strong> 
							  	</a>
								<br><br>
								{{repo.description}} 
							  </div>

							  	<div class="col-md-6">
							  		{{repo.language}} &nbsp;&nbsp;&nbsp; <span ><strong>Updated on</strong> {{repo.updated_at | myFormat}}</span>
							  	</div>
							     
							  <div class="col-md-12">
							  </div>
							</div>
						  </div>
						</div>
				</div>
			   
			  </div>
			  <div class="panel-footer">© gitSearch.com 2018</div>
			</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>